
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />
<link href="~/css/template.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/bootstrap.minn.css" rel="stylesheet" />
<title>About As - MD ARGE</title>

<div class="inner-banner text-center">
    <div class="container">
        <div class="box">
            <h3>About Us</h3>
        </div><!-- /.box -->
        <div class="breadcumb-wrapper">
            <div class="clearfix">
                <div class="pull-left">
                    <ul class="list-inline link-list">
                        <li>
                            <a href="/Home/index">Home</a>
                        </li>
                        <!-- comment for inline hack
                        -->
                        <li>
                            About Us
                        </li>
                    </ul><!-- /.list-line -->
                </div><!-- /.pull-left -->
                @*<div class="pull-right">
                    <a href="#" class="get-qoute"><i class="fa fa-share-alt"></i>share</a>
                </div>*@<!-- /.pull-right -->
            </div><!-- /.container -->
        </div>
    </div><!-- /.container -->
</div>

<section class="default-section sec-padd">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="text-content">
                    <h4>
                        The idea, which started in 2013 as a doctoral dissertation, started the adventure of commercialization with the establishment of MD ARGE in 2017. MD ARGE is continuing its efforts to increase the sensitivity and accuracy of cancer treatment. The first device developed is called User Free Control (UFC) because it can take user-independent measurements. The quality controls of LINAC devices used in the radiation oncology departments with UFC can be performed accurately, precisely and quickly.
                        <br>
                    </h4>
                    <h4>Mission</h4>
                    <div class="text">
                        <p>
                            To develop innovative products for better healthcare.
                        </p><br>
                    </div>
                    <h4>Vision</h4>
                    <div class="text">
                        <p>
                            To be a brand which is not following the innovation, guiding the innovation as a global brand.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <figure class="img-box">
                    <a href="#"><img src="/images/project/about.jpg" alt=""></a>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="our-team sec-padd2">
    <div class="container">
        <div class="section-title">
            <h2>Our team</h2>
        </div>
        <div class="row">
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">

                        <a href="#"><img src="/images/team/deniz.png" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    @*<li><a href="#"><i class="fa fa-facebook"></i></a></li>*@
                                    <li><a href="https://twitter.com/Denizmdarge" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/deniz-%C3%A7elik-34056777/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Deniz ÇELİK</h4></a>
                        <p>
                            Radiotherapy Physics
                        </p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +90 212 276 63 73</li>
                            <li><i class="fa fa-envelope"></i><a href="#">deniz.celik@mdarge.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/Omur.png" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    @*<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/omurgurbuz" target="_blank"><i class="fa fa-twitter"></i></a></li>*@
                                    <li><a href="https://www.linkedin.com/in/%C3%B6m%C3%BCr-g%C3%BCrb%C3%BCz-a3448062/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Ömür GÜRBÜZ</h4></a>
                        <p>
                            Statistics Specialist
                        </p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +90 212 276 63 73</li>
                            <li><i class="fa fa-envelope"></i><a href="#">omur.gurbuz@mdarge.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/tunay.png" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    @*<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/tunayyilmazz" target="_blank"><i class="fa fa-twitter"></i></a></li>*@
                                    <li><a href="https://www.linkedin.com/in/tunay-y%C4%B1lmaz-3a8a9b133/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Tunay Sabri YILMAZ</h4></a>
                        <p>Software Engineer</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +90 212 276 63 73 </li>
                            <li><i class="fa fa-envelope"></i><a href="#">tunay.yilmaz@mdarge.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/Mert.png" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    @*<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>*@
                                    <li><a href="https://www.linkedin.com/in/mertkaragoz/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Mert KARAGÖZ</h4></a>
                        <p>Physics Engineer </p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +90 212 276 63 73</li>
                            <li><i class="fa fa-envelope"></i><a href="#">mert.karagoz@mdarge.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>

        </div>
    </div>

</section>

@*<section class="our-team sec-padd2">
    <div class="container">
        <div class="section-title">
            <h2>Our team</h2>
        </div>
        <div class="row">
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/t1.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Ömür Gürbüz</h4></a>
                        <p>
                            Statistics Specialist
                        </p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: 545 555 55 55</li>
                            <li><i class="fa fa-envelope"></i><a href="#">omur.gurbuz@mdarge.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/t2.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Deniz Çelik</h4></a>
                        <p>
                            Radiotherapy Physics
                        </p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: 545 555 55 55</li>
                            <li><i class="fa fa-envelope"></i><a href="#">deniz.celik@mdarge.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/t3.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Tunay Sabri Yılmaz</h4></a>
                        <p>Software Engineer</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: 545 555 55 55 </li>
                            <li><i class="fa fa-envelope"></i><a href="#">tunay.yilmaz@mdarge.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/t4.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Mert Karagöz</h4></a>
                        <p>Software Engineer </p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: 545 555 55 55</li>
                            <li><i class="fa fa-envelope"></i><a href="#">mert.karagoz@mdarge.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>

        </div>
    </div>

</section>*@
<div class="Markalarsection">
    <div class="container" id="someCustomers">
        <div class="row">
            <div class="modulTittle col-lg-12">
                <h2>
                    Our Partners
                </h2>
                <br />

                <p>
                    Our partners who share our dreams and support us on this challenging journey
                </p>

            </div>
        </div>
        <div class="row customer1">
            <div class="col-md-12">

            </div>

            <div class="owl-item1">
                <div class="item">

                </div>
            </div>

            <div class="owl-item1">
                <div class="item">

                </div>
            </div>

            <div class="owl-item1">
                <div class="item">
                    <a href="https://www.ariteknokent.com.tr/tr" target="_blank">
                        <img width="163" height="87" src="https://www.ariteknokent.com.tr/assets/img/itu-ari-logo.png" class="attachment-full size-full" alt="" srcset="https://www.ariteknokent.com.tr/assets/img/itu-ari-logo.png 200w, https://www.ariteknokent.com.tr/assets/img/itu-ari-logo.png 311w" sizes="(min-width: 1400px) 25vw, (min-width: 2200px) 100vw, (min-width: 976px) 470px, (min-width: 864px) 627px, (min-width: 752px) 864px, (min-width: 640px) 752px, ">
                    </a>
                </div>
            </div>
            
            <div class="owl-item1">
                <div class="item">
                    <a href="http://www.itunovatto.com.tr/" target="_blank">
                        <img width="163" height="87" src="http://www.itunovatto.com.tr/Uploads/logo-desktop_small.png" class="attachment-full size-full" alt="" srcset="http://www.itunovatto.com.tr/Uploads/logo-desktop_small.png 200w, http://www.itunovatto.com.tr/Uploads/logo-desktop_small.png 303w" sizes="(min-width: 1400px) 25vw, (min-width: 2200px) 100vw, (min-width: 976px) 470px, (min-width: 864px) 627px, (min-width: 752px) 864px, (min-width: 640px) 752px, ">
                    </a>
                </div>
            </div>

            <div class="owl-item1">
                <div class="item">
                    <a href="https://www.trangels.com/" target="_blank">
                        <img width="163" height="87" src="https://www.trangels.com/Content/Angels/img/logo.png" class="attachment-full size-full" alt="" srcset="https://www.trangels.com/Content/Angels/img/logo.png 200w, https://www.trangels.com/Content/Angels/img/logo.png 311w" sizes="(min-width: 1400px) 25vw, (min-width: 2200px) 100vw, (min-width: 976px) 470px, (min-width: 864px) 627px, (min-width: 752px) 864px, (min-width: 640px) 752px, ">
                    </a>
                </div>
            </div>

            @*<div class="owl-item1">
            <div class="item">
                <a href=" " target="_blank">
                    <img width="163" height="87" src="http://mdarge.com/wp-content/uploads/2016/10/3.png" class="attachment-full size-full" alt="">
                </a>
            </div>
        </div>*@
        </div>
    </div>
</div>





