
@{
    ViewBag.Title = "dcubeallInOne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/template.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/bootstrap.minn.css" rel="stylesheet" />
<div class="inner-banner text-center">
    <div class="container">
        <div class="box">
            <h3>D-CUBE ALL IN ONE </h3>
        </div><!-- /.box -->
        <div class="breadcumb-wrapper">
            <div class="clearfix">
                <div class="pull-left">
                    <ul class="list-inline link-list">
                        <li><a href="/Home/index">Home</a></li>
                        <li><a href="/Home/service">Products</a></li>
                        <li> D-CUBE ALL IN ONE</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <a href="#" class="get-qoute"><i class="fa fa-share-alt"></i>share</a>
                </div><!-- /.pull-right -->
            </div><!-- /.container -->
        </div>
    </div><!-- /.container -->
</div>

<section class="service style-2 sec-padd">
    <div class="container">
        <div class="row">
            <div class="text" style="text-align:center">
                <h4>
                    Automatic Laser Alignment Device with Dosimetry Option
                </h4>
            </div>
            @*<div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="service-sidebar">
                        <ul class="service-catergory">
                            <li><a href="/Home/ourProducts">UFC</a></li>
                            <li class="active"><a href="/Home/service1">D-CUBE BASIC</a></li>
                            <li><a href="/Home/service2">D-CUBE FOR CT</a></li>
                            <li><a href="/Home/service3">D-CUBE AUTOMATIC</a></li>
                            <li><a href="/Home/service4">SMART QA SOFTWARE</a></li>
                            <li><a href="/Home/service5">Organization</a></li>
                                <li><a href="/Home/service6">Customer Insights</a></li>
                        </ul>

                        <br><br><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <div class="inner-title">
                            <h3>Our Brochures</h3>
                        </div>
                        <div class="brochures">

                            <ul class="brochures-lists">
                                <li><a href="#"><span class="fa fa-file-pdf-o"></span>Our Presentation.PDF</a></li>
                                <li><a href="#"><span class="fa fa-file-word-o"></span>Financial Report.DOC</a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="outer-box">
                    <div class="img-box" align="center">
                        <a href="#"><img src="/images/products/D-Cube All in One(874 x 420).jpg" alt=""></a>
                    </div>
                    <br /><br /><br />
                    <h3 style="text-align:center">Fast, Accurate and Automatic Laser Alignment with Dosimetric Measurement Option </h3>
                    <br /><br />
                    <div class="text" style="text-align:center">
                        <p>
                            The reference laser projection is used in sections such as CT or PET/CT to allow the patient to be placed in the correct position. The D-Cube Radiology model was developed to calibrate these laser projections quickly and precisely. The D-Cube System detects the laser digitally and automatically calibrates the laser sources according to the reference point. It is also possible to perform dosimetric controls of the CT.
                        </p>
                    </div>
                    <br><br><br />
                    @*<h3>Key benefits of D-Cube Basic</h3>*@
                </div>
                <div class="row">
                    @*<div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="text">
                                    <p>Beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire trouble.</p><br>
                                </div><br /><br />
                            <ul class="benifit-list">
                                <li><i class="fa fa-angle-right"></i>Develop new ideas and market them</li>
                                <li><i class="fa fa-angle-right"></i>Build leadership and management skills</li>
                                <li><i class="fa fa-angle-right"></i>Improve manufacturing processes</li>
                                <li><i class="fa fa-angle-right"></i>Build a business strategy and plan</li>
                            </ul>
                        </div>*@
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="video-image-box">
                            <figure class="image">
                                <img src="/images/products/D-Cube All in One(370 x 227).jpg" alt="" style="margin-left:0%;margin-right:0%;">
                                <a href="https://www.youtube.com/watch?v=1Qar-5qlyoU" class="video-fancybox overlay-link lightbox-image" style="margin-left:0%;margin-right:0%;">
                                    <span class="icon icon-arrows4"></span>
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div><br><br><br /><br />
                <div class="inner-title">
                    <h3 style="text-align:center">Key Benefits of D-Cube All in One</h3>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="growth-item center">
                            <div class="icon_box">
                                <span class="icon-business"></span>
                            </div>
                            <a href="#"><h4>Patented Design</h4></a>
                            <div class="content center">
                                <p>The position, angle and depth information of the laser source is obtained precisely thanks to the superior design of the D-Cube.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="growth-item center">
                            <div class="icon_box">
                                <span class="icon-graphic"></span>
                            </div>
                            <a href="#"><h4>Automatic Laser Alignment</h4></a>
                            <div class="content center">
                                <p>All laser sources can be aligned according to reference CT isocenter automatically. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="growth-item center">
                            <div class="icon_box">
                                <span class="icon-business-1"></span>
                            </div>
                            <a href="#"><h4>Automatic Angle Correction</h4></a>
                            <div class="content center">
                                <p>Thanks to its high precision inclinometer and motorized feet, it automatically adjusts its angle to the reference plane. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="growth-item center">
                            <div class="icon_box">
                                <span class="icon-business-1"></span>
                            </div>
                            <a href="#"><h4>Dosimetry</h4></a>
                            <div class="content center">
                                <p>The D-Cube together with the All in One measures the amount of radiation dose given on the CT. </p>
                            </div>
                        </div>
                    </div>
                </div><br><br /><br />
                <div class="intro-img">
                    <div class="img-box" align="center">
                        <h3 style="text-align:center">Specifications</h3><br />
                        <img src="/images/products/radyology allinone.jpg">
                    </div>
                </div><br /><br /><br /><br />
                <div class="inner-title">
                    <h3 style="text-align:center">Our Brochures</h3>
                </div>
                <div class="brochures">

                    <ul class="brochures-lists">
                        <li><a href="#"><span class="fa fa-file-pdf-o"></span>D-Cube All In One.PDF</a></li>
                        @*<li><a href="#"><span class="fa fa-file-word-o"></span>Financial Report.DOC</a></li>*@
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

