
@{
    ViewBag.Title = "dcubeauto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/template.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/bootstrap.minn.css" rel="stylesheet" />
<div class="inner-banner text-center">
    <div class="container">
        <div class="box">
            <h3>D-CUBE AUTOMATIC </h3>
        </div><!-- /.box -->
        <div class="breadcumb-wrapper">
            <div class="clearfix">
                <div class="pull-left">
                    <ul class="list-inline link-list">
                        <li><a href="/Home/index">Home</a></li>
                        <li><a href="/Home/index">Products</a></li>
                        <li> D-CUBE AUTOMATIC </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <a href="#" class="get-qoute"><i class="fa fa-share-alt"></i>share</a>
                </div><!-- /.pull-right -->
            </div><!-- /.container -->
        </div>
    </div><!-- /.container -->
</div>

<section class="service style-2 sec-padd">
    <div class="container">
        <div class="row">
            <div class="text" style="text-align:center">
                <h4>
                    Medical LINAC QA Device with Automatic Angle Correction
                </h4>
            </div>
            @*<div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="service-sidebar">
                        <ul class="service-catergory">
                            <li><a href="/Home/ourProducts">UFC</a></li>
                            <li class="active"><a href="/Home/service1">D-CUBE BASIC</a></li>
                            <li><a href="/Home/service2">D-CUBE FOR CT</a></li>
                            <li><a href="/Home/service3">D-CUBE AUTOMATIC</a></li>
                            <li><a href="/Home/service4">SMART QA SOFTWARE</a></li>
                            <li><a href="/Home/service5">Organization</a></li>
                                <li><a href="/Home/service6">Customer Insights</a></li>
                        </ul>

                        <br><br><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <div class="inner-title">
                            <h3>Our Brochures</h3>
                        </div>
                        <div class="brochures">

                            <ul class="brochures-lists">
                                <li><a href="#"><span class="fa fa-file-pdf-o"></span>Our Presentation.PDF</a></li>
                                <li><a href="#"><span class="fa fa-file-word-o"></span>Financial Report.DOC</a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="outer-box">
                    <div class="img-box" align="center">
                        <img src="/images/products/D-Cube Auto banner.jpg" alt="">
                    </div>
                    <br /><br /><br />
                    <h3 style="text-align:center">Fast, Accurate and Automatic</h3>
                    <br /><br />
                    <div class="text" style="text-align:center">
                        <p>
                            The D-Cube Automatic model has been developed to perform QA tests of medical LINAK devices quickly and precisely. It has the feature of completing the tests without the need of electricity with the battery inside. In addition, with the indicator lamps on the D-Cube, basic tests can be performed quickly without using the software.
                        </p>
                    </div>
                    <br><br><br />
                    @*<h3>Key benefits of D-Cube Basic</h3>*@
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="video-image-box">
                            <figure class="image">
                                <img src="/images/products/D-Cube Auto video.jpg" alt="" /> @*style="margin-left:0%;margin-right:0%;">*@
                                <a href="https://www.youtube.com/watch?v=1Qar-5qlyoU" class="video-fancybox overlay-link lightbox-image" style="margin-left:0%;margin-right:0%;">
                                    <span class="icon icon-arrows4"></span>
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div><br><br><br /><br />
                <div class="inner-title">
                    <h3 style="text-align:center">Key Benefits of D-Cube Automatic</h3>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="growth-item center">
                            <div class="icon_box">
                                <span class="icon-business"></span>
                            </div>
                            <a href="#"><h4>Absolute Measurement  </h4></a>
                            <div class="content center">
                                <p>Since the D-Cube checks each parameter separately during the test, it can easily find the actual deviation source.D-Cube never assumes. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="growth-item center">
                            <div class="icon_box">
                                <span class="icon-graphic"></span>
                            </div>
                            <a href="#"><h4>Automatic Laser Alignment</h4></a>
                            <div class="content center">
                                <p>All laser sources can be aligned according to the isocenter automatically.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="growth-item center">
                            <div class="icon_box">
                                <span class="icon-business-1"></span>
                            </div>
                            <a href="#"><h4>Smart QA </h4></a>
                            <div class="content center">
                                <p>Thanks to the combination of different measurement results, more than 30,000 different treatment points are controlled from approximately 30 measurements.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="growth-item center">
                            <div class="icon_box">
                                <span class="icon-business"></span>
                            </div>
                            <a href="#"><h4>Automatic Angle Correction </h4></a>
                            <div class="content center">
                                <p>Thanks to the high precision inclinometer and motorized feet, it automatically adjusts its angle to the reference plane.</p>
                            </div>
                        </div>
                    </div>
                </div><br><br /><br />
                <div class="intro-img">
                    <div class="img-box" align="center">
                        <h3 style="text-align:center">Specifications</h3><br />
                        <img src="/images/products/basic auto.jpg" alt="">
                    </div>
                </div><br /><br /><br /><br />
                @*<div class="inner-title">
                        <h3 style="text-align:center">Our Brochures</h3>
                    </div>

                    <div class="brochures">

                        <ul class="brochures-lists">
                            <li><a href="#"><span class="fa fa-file-pdf-o"></span>D-Cube Automatic.PDF</a></li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</section>

