
@{
    ViewBag.Title = "download";
}
<link href="~/css/downloadPopup.css" rel="stylesheet" />
<title>Download - MD ARGE</title>
<section class="contact_details sec-padd2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" style="margin:auto;">
                <div class="item center">
                    <div class="icon_box">
                        <span class="revicon-down-open"></span>
                    </div>
                    <h4>D-Cube Setup</h4>
                    <form method="post">
                        <div class="text">
                            <p>
                                Please click to download D-Cube Software to your computer
                            </p>
                            <div id="Code" style="display:none;">
                                <p style="color:deepskyblue">Please enter your code to download</p>
                                <input type="text" name="key" id="key" style="height:50px; font-size:20px;" min="16" maxlength="16" required=""><br />
                            </div>

                            @if (TempData["mesaj"] != null)
                            {
                                <div>
                                    <h5 style="color:white; border:7px solid red; background-color:red; border-radius:4px;">@TempData["mesaj"].ToString()</h5>
                                </div><br />
                            }
                            else
                            {
                                <p></p>
                            }
                            <button class="thm-btn2" id="ButtonKey" onclick="CodeKey('Code')" type="submit">Download</button>
                        </div>
                    </form>
                </div>
            </div>
            <script>
                function CodeKey(Code) {
                    var codeID = document.getElementById(Code);
                    if (codeID.style.display == "none") {
                        codeID.style.display = "";
                        $("#ButtonKey").text("VERIFY");
                    } else {
                        codeID.style.display = "";
                        $("#ButtonKey").text("VERIFY");
                    }
                }
            </script>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="item center">
                    <div class="icon_box">
                        <span class="revicon-down-open"></span>
                    </div>
                    <h4>Brochure</h4>
                    <div class="text">
                        <p>Please click to download D-Cube Brochure to your computer</p>
                    </div>
                    <a href="/Home/freeContact" type="button" class="thm-btn2">Download</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="item center">
                    <div class="icon_box">
                        <span class="revicon-down-open"></span>
                    </div>
                    <h4>
                        User Guide
                    </h4>
                    <div class="text">
                        <p>Please click to download D-Cube User Guide to your computer</p>
                        <a href="/Home/freeContact" type="button" class="thm-btn2">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // Popup Al
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }
        .
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }</script>
