
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/template.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/bootstrap.minn.css" rel="stylesheet" />
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>

            <li data-transition="fade">
                <img src="~/images/project/Banner bg.jpg" alt="" width="1920" height="683" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                <div class="tp-caption tp-resizeme"
                     data-x="right" data-hoffset="0"
                     data-y="center" data-voffset="0"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="500">
                    <div class="slide-content-box">
                        <h1>
                            What is the Maximum Possible<br /> Deviation (MPD) of your LINAC?
                        </h1>
                        <p>
                            D-Cube Smart QA System can detect the maximum deviation of your treatment <br />point from isocentre according to your LINAC position. For instance, <br />MPD = 3.5 mm at gantry 90°, collimator 270°, couch 0°, couch lateral position 10 cm, couch vertical position 5 cm etc.
                        </p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="632"
                     data-y="center" data-voffset="165"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="837"
                     data-y="center" data-voffset="165"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn" href="/Home/contact">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="fade">
                <img src="~/images/project/Banner bg.jpg" alt="" width="1920" height="683" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="-60"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="100">
                    <div class="img-box center">
                        <img src="/images/slider/logo.png" alt="">
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="center" data-hoffset=""
                     data-y="center" data-voffset="30"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="500">
                    <div class="slide-content-box center">
                        <h1>Can you combine different tests together?</h1>
                        <p>It's possible with D-Cube Smart QA System to check more than 30.000 different treatment points with just 30 measurement.  </p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="160"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="1500">
                </div>

            </li>
            <li data-transition="fade">
                <img src="~/images/project/Banner bg.jpg" alt="" width="1920" height="683" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="240"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1>D-Cube Smart QA System with Automatic<br /> Laser Alignment option</h1>
                        <p>You can align all laser projections according to isocenter fast<br /> accurate and automatic.  </p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="470"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="225"
                     data-y="top" data-voffset="470"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                </div>
            </li>
        </ul>
    </div>
</section>
<div class="PaketAvantajContent anasayfaTittle">
    <div class="container">
        <div class="row">
            <div class="modulTittle col-lg-12">
                <p class="lead" style="font-size:20px;">
                    MD R & D is working to increase sensitivity and accuracy in cancer treatment.<br /> We are constantly researching and developing innovative<br /> products and methods needed in the field of radiation oncology. <br />Our most important motivation is the benefit that the <br />products and methods we have developed will provide to people.
                </p>
                <br />
            </div>
        </div>
    </div>
</div>
@*<section class="whychoos-us sec-padd2">
        <div class="container">

            <div class="section-title center">
                <h2>
                    Why MD ARGE
                </h2>

            </div>


            <div class="row clearfix">
                Featured Service
                <article class="column col-md-4 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="icon_box">
                            <span class="icon-graphic2"></span>
                        </div>
                        <h4>xxxxxx xxxxxxx</h4>
                        <div class="text">
                            <p>xxxxxxxxxxxx xxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx</p>
                        </div>
                        <div class="count">01</div>
                    </div>
                </article>
                Featured Service
                <article class="column col-md-4 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="icon_box">
                            <span class="icon-layers"></span>
                        </div>
                        <h4>xxxxxx xxxxxxx</h4>
                        <div class="text">
                            <p>xxxxxx xxxxxx xxxxxxxxxxxxxx xxxxxxxxxxx xxxx xxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxx xxxx xxxxx xxxxxxxx xxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxx</p>
                        </div>
                        <div class="count">02</div>
                    </div>
                </article>
                Featured Service
                <article class="column col-md-4 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="icon_box">
                            <span class="icon-computer"></span>
                        </div>
                        <h4>xxxxxx xxxxxx</h4>
                        <div class="text">
                            <p>xxxxxxxx xxxxxxxxx xxxx xxxxxxxxxxxxx xxxx xxxxxxxxxxx xxxxxx xxxxxxxxxxxxx xxxxxx xxxxxxxx xxxxxxxxxxx xxxxxxxxxx xxxxxxx xxxxxxxxxxxxxx xxxxxxxxxx xxxxxxxx xxx</p>
                        </div>
                        <div class="count">03</div>
                    </div>
                </article>

            </div>

        </div>
    </section>*@
@*<section class="fact-counter sec-padd" style="background-image: url(/images/project/bf235ba4-048a-4966-b66e-ea2c3fbb7b07.jpg);">
    <div class="container">
        <div class="row clearfix">
            <div class="counter-outer clearfix" style="float:left">
                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                        <div class="item">
                            <div class="count-outer"><span class="count-text" data-speed="3000" data-stop="107">0</span></div>
                            <h4 class="counter-title">Experienced Consultants</h4>
                            <div class="icon"><i class="icon-people3"></i></div>
                        </div>

                    </article>

                <!--Column-->
                <article class="column counter-column col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="count-outer"><span class="count-text" data-speed="1000" data-stop="4">0</span></div>
                        <h4 class="counter-title">Patents Received</h4>
                        <div class="icon"><i class="icon-technology3"></i></div>
                    </div>
                </article>

                <!--Column-->
                <article class="column counter-column col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="count-outer"><span class="count-text" data-speed="1000" data-stop="6">0</span></div>
                        <h4 class="counter-title">
                            Products
                        </h4>
                        <div class="icon"><i class="icon-sports"></i></div>
                    </div>
                </article>

                <!--Column-->
                <article class="column counter-column col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="count-outer"><span class="count-text" data-speed="1000" data-stop="4">0</span></div>
                        <h4 class="counter-title">Employees</h4>
                        <div class="icon"><i class="icon-square2"></i></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>*@
<div class="container"><div class="border-bottom"></div></div>




<section class="blog-section sec-padd2">
    <div class="container">
        <div class="section-title center">
            <h2>latest news</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="default-blog-news wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <figure class="img-holder">
                        <a href="/Home/ufc"><img src="/images/project/UFCpatent.jpg" alt="News"></a>
                        <figcaption class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="/Home/ufc"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="lower-content">
                        <div class="date">21 <br>April</div>
                        <h4><a href="/Home/ufc">UFC Won the Gold Medal</a></h4>
                        <div class="text">
                            <p>UFC patent won the Gold Medal at the 4th İstanbul International Invention Fair Organization. UFC is the first device which can measure the light field and radiation field at the same time. For more information click UFC. </p>
                        </div>
                        <div class="link">
                            <a href="/Home/ufc" class="default_link">Read More <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="default-blog-news wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <figure class="img-holder">
                        <a href="/Home/dcubebasic"><img src="/images/project/D-Cube.jpg" alt="News"></a>
                        <figcaption class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="/Home/dcubebasic"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="lower-content">
                        <div class="date">17 <br>June</div>
                        <h4><a href="/Home/dcubebasic">Our New Product D-Cube Family is Ready</a></h4>
                        <div class="text">
                            <p>We have completed the new product D-Cube family. We are proud to introduce D-Cube which is capable of making Smart QA. For more information click D-Cube.</p>
                        </div>
                        <div class="link">
                            <a href="/Home/dcubebasic" class="default_link">Read More <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="default-blog-news wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <figure class="img-holder">
                        <a href="https://www.estro.org/Congresses/ESTRO-2020/ESTRO-2020" target="_blank"><img src="/images/project/estro39.jpg" alt="News"></a>
                        <figcaption class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="https://www.estro.org/Congresses/ESTRO-2020/ESTRO-2020" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="lower-content">
                        <div class="date">14 <br>Mar</div>
                        <h4><a href="https://www.estro.org/Congresses/ESTRO-2020/ESTRO-2020" target="_blank">We will be at ESTRO 2020</a></h4>
                        <div class="text">
                            <p>We are going to attend the ESTRO 2020 and we invite you to our booth at S11 that will take place 3-7 April 2020 in Vienna, Austria.</p>
                        </div>
                        <div class="link">
                            <a href="https://www.estro.org/Congresses/ESTRO-2020/ESTRO-2020" target="_blank" class="default_link">Read More <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

