
@{
    ViewBag.Title = "team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/template.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/bootstrap.minn.css" rel="stylesheet" />
<div class="inner-banner text-center">
    <div class="container">
        <div class="box">
            <h3>Our Team</h3>
        </div><!-- /.box -->
        <div class="breadcumb-wrapper">
            <div class="clearfix">
                <div class="pull-left">
                    <ul class="list-inline link-list">
                        <li><a href="/Home/index">Home</a></li>
                        <li><a href="/Home/about">About Us</a></li>
                        <li>Our Team</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <a href="#" class="get-qoute"><i class="fa fa-share-alt"></i>share</a>
                </div><!-- /.pull-right -->
            </div><!-- /.container -->
        </div>
    </div><!-- /.container -->
</div>

<section class="our-team sec-padd2">
    <div class="container">
        <div class="section-title">
            <h2>Our team</h2>
        </div>
        <div class="row">
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">

                        <a href="#"><img src="/images/team/deniz.png" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    @*<li><a href="#"><i class="fa fa-facebook"></i></a></li>*@
                                    <li><a href="https://twitter.com/Denizmdarge" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/deniz-%C3%A7elik-34056777/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Deniz ÇELİK</h4></a>
                        <p>
                            Radiotherapy Physics
                        </p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +90 212 276 63 73</li>
                            <li><i class="fa fa-envelope"></i><a href="#">deniz.celik@mdarge.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/Omur.png" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    @*<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/omurgurbuz" target="_blank"><i class="fa fa-twitter"></i></a></li>*@
                                    <li><a href="https://www.linkedin.com/in/%C3%B6m%C3%BCr-g%C3%BCrb%C3%BCz-a3448062/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Ömür GÜRBÜZ</h4></a>
                        <p>
                            Statistics Specialist
                        </p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +90 212 276 63 73</li>
                            <li><i class="fa fa-envelope"></i><a href="#">omur.gurbuz@mdarge.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/tunay.png" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    @*<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/tunayyilmazz" target="_blank"><i class="fa fa-twitter"></i></a></li>*@
                                    <li><a href="https://www.linkedin.com/in/tunay-y%C4%B1lmaz-3a8a9b133/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Tunay Sabri YILMAZ</h4></a>
                        <p>Software Engineer</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +90 212 276 63 73 </li>
                            <li><i class="fa fa-envelope"></i><a href="#">tunay.yilmaz@mdarge.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/Mert.png" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    @*<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>*@
                                    <li><a href="https://www.linkedin.com/in/mertkaragoz/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Mert KARAGÖZ</h4></a>
                        <p>Software Engineer </p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +90 212 276 63 73</li>
                            <li><i class="fa fa-envelope"></i><a href="#">mert.karagoz@mdarge.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>

        </div>
    </div>

</section>
